.table-general {
  margin: auto;
  background-color: #ffbf69;
  padding: 0.5rem;
  width: 100%;
  /* border-spacing: 0; */
  border-spacing: 0.5rem;
  overflow-x: scroll;
  width: 100vw;
}

.container-div-for-table {
  overflow-x: auto;
}

td:hover,
td:active {
  border-color: 1px solid white;
  color: white;
}
